
git.0xa0.dev:6970 {
    route /deploy {
        reverse_proxy localhost:6969
    }
}

blog.0xa0.dev {
    reverse_proxy localhost:9999
}

mail.0xa0.dev {
  respond "Mail cert only" 200
}


https://0xa0.dev {

    @bili path /b/* /media/*

    reverse_proxy @bili localhost:8300

    handle_path /wp-* {
    reverse_proxy localhost:10000
    }

    handle_path /wp-admin/* {
        reverse_proxy localhost:10000
    }

    handle_path /phpmyadmin/* {
        reverse_proxy localhost:10000
    }

    handle_path /admin.php {
        reverse_proxy localhost:10000
    }

    handle_path /xmlrpc.php {
        reverse_proxy localhost:10000
    }


    reverse_proxy localhost:3000
}