git.0xa0.dev {
    reverse_proxy 127.0.0.1:3001
}


git.0xa0.dev:6969{
    route /deploy {
        method POST
        handle {
            exec ./deploy.sh
            respond "Deployed"
        }
    }
}


web.0xa0.dev {
    root ./build
    file_server 
}
