
git.0xa0.dev:6970 {
    route /deploy {
        reverse_proxy localhost:6969
    }
}


https://0xa0.dev {
    root ./build
    file_server 


    handle_errors {
        @404 {
            expression {http.error.status_code} == 404
        }
        rewrite @404 /404.html
    }
}


www.0xa0.dev {
    redir https://0xa0.dev{uri}
}