
@import '$lib/SpaceG.css';


:root{
  font-family: 'Space Grotesk', sans-serif;

  color:white;
}

@keyframes godinchallah{
  from {
    background-position: 50% 50%, 50% 50%;
}
to {
    background-position: 350% 50%, 350% 50%;
}
}

body {
  margin: 0;
  color: var(--secondary-color);
  padding: 27px;
  
}


:root {
  --primary-color: #007BFF;
  --secondary-color: #000000;
}
