
@import '$lib/SpaceG.css';


:root{
  font-family: 'Space Grotesk', sans-serif;

  background-color:var(--background-color);
  color: var(--secondary-color);
}

@keyframes godinchallah{
  from {
    background-position: 50% 50%, 50% 50%;
}
to {
    background-position: 350% 50%, 350% 50%;
}
}

body {
  margin: 0;
  color: var(--secondary-color);
  padding: 27px;
  
}


:root {
  --primary-color: #ffe600;
  --secondary-color: #ffffff;
  --background-color: #181818;
}
