
@import '$lib/SpaceG.css';
@import '@cartamd/plugin-code/default.css';

:root{
  font-family: 'Space Grotesk', sans-serif;
  

  background-color:var(--background-color);
  font-optical-sizing: auto;
  font-style: normal;

  color: var(--secondary-color);
  & h1{
    color:var(--primary-color);
  }
}


body {
  margin: 0;
  color: var(--secondary-color);
  padding: 23px;
  
}

p, li{
	  font-size: 0.85rem;
    line-height: 1.6;
    font-weight: lighter;
}


:root[data-theme="dark"]{
  --primary-color: #bfa8ff;
  --rimary-color: #8750c7;
  --secondary-color: #ffffff;
  --background-color: #1a1a1a;
  cursor: url(./Wii-Cursor.cur), auto;
}

:root[data-theme="light"]{
  --primary-color: #af3a03;
  --rimary-color: #8750c7;
  --secondary-color: #3c3836;
  --background-color: #fbf1c7;
  cursor: url(./Wii-Cursor.cur), auto;
}

:root{
  --primary-color: #af3a03;
  --rimary-color: #8750c7;
  --secondary-color: #3c3836;
  --background-color: #fbf1c7;
  cursor: url(./Wii-Cursor.cur), auto;
}

a {
  cursor: url(./wii-pointer-blue-ccw.cur), auto;
}

h2{
  color: var(--primary-color);
}





table {
  max-width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
  font-size: 1rem;
  text-align: left;
  background-color: #111; /* Darker background for more contrast */
  color: var(--secondary-color);
}

th, td {
  padding: 12px 15px;
  border: 1px solid var(--primary-color);
}

th {
  background-color: #222; /* Darker background for more contrast */
  color: var(--primary-color);
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

tr:nth-child(even) {
  background-color: #333; /* Darker background for more contrast */
}

tr:hover {
  background-color: #444; /* Darker background for more contrast */
}




img {
  display: block;
  max-width: 100%; 
  height: auto;


}


/* Scrollbar for WebKit browsers (Chrome, Safari, Edge) */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;  /* Fully transparent track */
}

::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.884);  /* Light, transparent thumb for subtle effect */
  border-radius: 10px;  /* Rounded edges for a smooth look */
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.4);  /* Slightly darker on hover, still very subtle */
}

/* Scrollbar for Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: rgba(255, 255, 255, 0.466) transparent;  /* Thin scrollbar, transparent track, and light thumb */
}


.carta-viewer > :not(pre) > code {
  background-color: #333;
  color: var(--primary-color);
  padding: 2px;
  border-radius: 4px;
  font-weight: bold; /* Make the text bold */
}

.carta-viewer a {
  text-decoration: none;
  color: var(--primary-color);
  transition: color 0.3s;
  border-bottom: 1px dashed var(--primary-color);
}

.carta-viewer a:hover {
  color: lightblue;
  border-bottom: 1px dashed lightblue;
}
